<div class='main-div'>
  <div class='div'>
    <p>Post #<%= @user.id %> By <%= @user.author.name %></p>
    <p><%= @user.title %></p>
    <p><%= @user.text %></p>
    <p>
      <span>Comments: <%= @user.comments_counter %></span>, 
      <span>Likes: <%= @user.likes_counter %></span>
    </p>
  </div>
  <ul>
  <div>
    <% @user.comments.each do |comment| %>
      <p>User : <%= comment.author.name %></p>
      <p><%= comment.text %></p>
    <% end %>
      <div class='likes-coments'>
                <P>
                  <%= link_to 'Add a comment' , "/users/#{@posts.author.id}/posts/#{@posts.id}/comments/new" %>
                </P>
                <P>
                  <%= link_to 'Like' , "/users/#{@posts.author.id}/posts/#{@posts.id}/likes/" %>
                </P>
      </div>
    </div>
  </ul>
</div>

