<div class='main-div'>
    <div class='div'>
            <p>Post #<%= @posts.id%> By <%= @posts.author.name %></p>
            <p>
                 <%= @posts.title %>
            </p>
            <p><%= @posts.text %></p>
            <p>
                <span>comments: <%= @posts.comments_counter %></span>, 
                <span>Likes: <%= @posts.likes_counter %> </span>
            </p>
    </div>

    <ul>
          <div>
            <% @comment.each do |item| %>
               <p>User : <%= item.author.name %></p>
               <p><%= item.text %></p>
             <% end %>
          </div>
    </ul>
</div>

